# Environment variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Misc
.DS_Store
*.pem
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
