.app__skills {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

//container to hold skills and experience
.app__skills-container {
    width: 100%;
    max-width: 110%;
    margin-top: clamp(3rem, 5vw, 5rem);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: clamp(2rem, 4vw, 5rem);
}

//Skills items
.app__skills-list {
    flex: 1;
    min-width: min(100%, 300px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: clamp(1rem, 1.5vw, 2rem);
}

.app__skills-item {
    flex-direction: column;
    text-align: center;

    transition: all 0.3s ease-in-out;

    div {
        width: clamp(5rem, 7vw, 9.375rem);
        height: clamp(5rem, 7vw, 9.375rem);
        border-radius: 50%;
        background-color: #fff;

        img {
            width: 50%;
            height: 50%;
        }

        &:hover {
            box-shadow: 0 0 clamp(20px, 2vw, 25px) #fef4f5;
        }
    }

    p {
        font-weight: 500;
        margin-top: clamp(0.5rem, 1vw, 1rem);
        font-size: clamp(0.875rem, 1vw, 1rem);
    }
}


//experience section
.app__skills-exp {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    @media screen and (max-width: 900px) {
        margin-top: 2rem;
    }
}

.app__skills-exp-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem 0;
}

.app__skills-exp-works {
    flex: 1;

    .app__skills-exp-work {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 1rem;
        cursor: pointer;

        h4 {
            font-weight: 500;
        }

        p {
            font-weight: 400;
            color: var(--gray-color);
            margin-top: 5px;
        }
    }
}

.app__skills-exp-year {
    margin-right: clamp(1rem, 2vw, 3rem);

    p {
        font-weight: 800;
        color: var(--secondary-color);
    }
}

.skills-tooltip {
    max-width: clamp(18.75rem, 25vw, 31.25rem) !important;
    background-color: var(--white-color) !important;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1) !important;
    border-radius: 100px !important;
    padding: clamp(0.75rem, 1vw, 1rem) !important;
    text-align: center !important;
    color: var(--gray-color) !important;
    line-height: clamp(1.5, 1.2, 2) !important;
    opacity: 1 !important;
    font-size: clamp(0.9rem, 1.2vw, 1.75rem) !important;
}